/*main styles for page*/
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebddaf;
  font-family: Arial, Helvetica, sans-serif;
}

/*style for app*/
#app {
  width: 80%;
  margin: 10px auto;
  background-color: #fff;
  padding: 20px;
}

h1, 
h2 {
  text-align: center;
  font-size: 1.5em;
}

/*center of the page and adding styling to form*/
form {
  display: flex;
  flex-direction: column;
  padding: 30px
}

input {
  padding: 10px;
  font-size: 1em;
}

select {
  padding: 10px;
  width: 80px;
}

/*styling for button, and adding hover effect*/
button {
  background-color: #ebddaf;
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  width: 100px;
  font-size: 1em;
}

button:hover {
  background-color: #e7d496;
  text-decoration: underline;
}

/*styling for where the courses is displayed*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  padding: 20px;
  margin-bottom: 20px;
}

a {
  color: black;
}

a:hover {
  color: rgb(75, 74, 74);
}

/*styles for bigger screens*/
@media (min-width: 790px) {
  #app {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 500px;
  }
}